@import "../dist/scss/kube.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');


//Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

// Colors
$pale-silver: #CCC5B9;
$black-olive: #403D39;
$raisin-black: #252422;
$vermilion: #EB5E28;
$blue: rgba(115, 89, 229, 1);
$granite: rgba(104, 100, 112, 1);
$white: rgba(255, 255, 255, 1);
$pink: rgba(229, 68, 109, 1);
$bright-pink: rgb(255, 152, 179);
$navy: rgba(75, 82, 103, 1);
$font-stack: 'Lato', sans-serif;
$bold: 700;
$semi-bold: 600;
$regular: 400;

body {
    box-sizing: border-box;
    margin: 0;
    background-color: $white;
    color: $raisin-black;
    font-family: $font-stack;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.pink-text {
    color:$pink;
}

header#top {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2em;
    height:10em;
    background-color: $white;
    color: $black-olive;

    #top-logo a {
        color: $pink;
        font-size: 32px;
    }
    

    a {
        font-weight: $bold;
    }

    ul {
        display:flex;
        li {
            display:inline-block;
            padding:1em;
        }

        li:last-child {
            padding-right:0;
        }
    }
}

.button {
    margin: 0 0 0 1em;
}

#top-login {
    justify-self: flex-start;
}

#top-navigation {
    display:flex;
    align-items: center;
}

main.container {
    flex:1;
}

.content {
    margin: 0 auto;
    max-width: 1170px;
}

//Tags section

.tags {
    display:flex;
    align-items: center;
    min-height:5em;
    justify-content: center;
}

ul.tags__list {
    list-style: none;
    display:flex;
    margin-top:24px;

    li {
        display:inline-block;
        margin-right:2em;
    }

    li:last-child {
        margin-right:0;
    }
}

a.tags__btn {
    @include border-radius(25px);
    padding:0.5em;
    border: 2px solid $blue;
    color: $blue;
    font-size: 12px;
    transition: all 0.5s ease;
}

a.tags__btn:hover {
    background-color: $blue;
    color:#FFF;
}

//Submit Form
#file {
    z-index:-1;
    width:0.1px;
    height:0.1px;
    overflow:hidden;
    position:absolute;
    opacity:0;
}
#file-btn {
    cursor: pointer;
    background-color: $pink;
    color: #FFF;
    border-radius: 25px;
    padding: 0.5em;
    max-width: 12em;
    text-align: center;
}

#file-btn:hover {
    background-color: $bright-pink;
}

// Blog section
.blog {
    padding-top:2em;
}

.blog__post {
    border: 1px solid #ececec;
    border-radius: 5px;
    color: $pale-silver;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.35);
    margin-bottom:20px;
}

.blog__post-image {
    overflow:hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-height: 312px;


    // Fix later
    /*     img {
        height:256px;
        object-fit:cover;
    } */
}

.blog__post-title {
    font-weight: 700;
}

.blog__post-author {
    font-size: 12px;
    color: $pink;
    margin:0px;
}

.blog__post-timestamp {
    font-size: 10px;
    color: $pale-silver;
}

.blog__post-content {
    padding:1.5em;
}

.post__hero {
    overflow:hidden;
    height: 400px;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.post__hero::after {
    content: "";
    position:relative;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.35);
}

footer#bottom {
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    min-height:10em;
    padding: 3em 0 3em 0;

    #bottom-signoff {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .signoff {
        color: $pale-silver;
        font-weight: 400;
        font-size:16px;
        margin-top:2em;
        margin-bottom:0.5em;
    }

    .social {
        list-style:none;
        display:flex;
        margin: 0;
        justify-content: center;

        li a.social__item {
            color:$pale-silver;
            display:inline-block;
            font-size:32px;
        }

        li a.social__item:hover {
            color: $black-olive;
        }
    }

}

//Misc

.divider {
    height:4px;
    width: 4em;
    display:block;
    margin:2em 0 2em 0;
}

.divider--thin {
    width: 10em;
    height:2px;
    margin: 0;
}

.pink {
    background-color: $pink;
}

.grey {
    background-color: $pale-silver;
}




