@import "../dist/scss/kube.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');


//Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

// Colors
$pale-silver: #CCC5B9;
$black-olive: #403D39;
$raisin-black: #252422;
$vermilion: #EB5E28;
$blue: rgba(115, 89, 229, 1);
$granite: rgba(104, 100, 112, 1);
$white: rgba(255, 255, 255, 1);
$pink: rgba(229, 68, 109, 1);
$navy: rgba(75, 82, 103, 1);
$font-stack: 'Lato', sans-serif;
$bold: 700;
$semi-bold: 600;
$regular: 400;

body {
    box-sizing: border-box;
    margin: 0;
    background-color: $white;
    color: $raisin-black;
    font-family: $font-stack;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #FFF;
}

header#top {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2em;
    height:5em;
    background-color: $black-olive;
    color: $white;

    a {
        font-weight: $bold;
    }

    ul {
        display:flex;
        li {
            display:inline-block;
            padding:1em;
        }

        li:last-child {
            padding-right:0;
        }
    }
}

.button {
    margin: 0 0 0 1em;
}

#top-login {
    justify-self: flex-start;
}

#top-navigation {
    display:flex;
    align-items: center;
}

main.container {
    flex:1;
}

.content {
    margin: 0 auto;
    max-width: 1170px;
}

//Tags section

.tags {
    display:flex;
    align-items: center;
    min-height:5em;
    justify-content: center;
}

ul.tags__list {
    list-style: none;
    display:flex;
    margin-top:24px;

    li {
        display:inline-block;
        margin-right:2em;
    }

    li:last-child {
        margin-right:0;
    }
}

a.tags__btn {
    @include border-radius(25px);
    padding:0.5em;
    border: 2px solid $blue;
    color: $blue;
    font-size: 12px;
}

a.tags__btn:hover {
    background-color: $blue;
    color:#FFF;
}


// Blog section
.blog {
    padding-top:2em;
}

.blog__post {
    border: 1px solid #ececec;
    border-radius: 5px;
    color: $pale-silver;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.35);
}

.blog__post-image {
    overflow:hidden;
}

.blog__post-title {
    font-weight: 700;
}

.blog__post-author {
    font-size: 12px;
    color: $pink;
    margin:0px;
}

.blog__post-timestamp {
    font-size: 10px;
    color: $pale-silver;
}

.blog__post-content {
    padding:1.5em;
}

footer#bottom {
    width: 100%;
    background-color: $raisin-black;
    display: flex;
    justify-content: center;
    min-height:10em;
}




